/public/hot
/public/storage
/public/img/images
/public/img/comprobante
/public/img/categories/
/public/img/Rino.mp4
/public/img/rino.mp4
/storage/*.key
.env
.env.backup
.env.production
/.idea
/.vscode

!/vendor/fakerphp/faker/src/Faker/Provider/Image.php

