@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* HTML: <div class="loader"></div> */
#loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffffff 50%, #0000 51%);
    border: 5px solid #f5f9ff;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  

#polygon {
    height: 450px;
    width: 954px;
}

#map {
    height: 340px;
    width: 800px;
    border-radius: 25px;
}

@media only screen and (max-width: 1344px) {
    #polygon {
        height: 590px;
        width: 100px;
    }
}

/* Media Query para pantallas con un ancho máximo de 600px (dispositivos móviles) */
@media only screen and (max-width: 600px) {
    #map {
        height: 340px;
        width: 200px;
        border-radius: 25px;
    }
}


