@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* HTML: <div class="loader"></div> */
#loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/8px 8px
            no-repeat,
        conic-gradient(#0000 30%, #f5f9ff);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 8px),
        #000 0
    );
    animation: l13 1s infinite linear;
}
@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}

#polygon {
    height: 390px;
    width: 954px;
}

/* @media only screen and (max-width: 1344px) {
    #polygon {
        height: 590px;
    width: 100px;
    }
} */

@media only screen and (max-width: 1680px) {
    #polygon {
        height: 390px;
    width: 1100px;
    }
}

#map {
    height: 340px;
    width: 800px;
    border-radius: 25px
}
